
10G_Санкт-Петербург_Старая деревня/.DS_Store

9G_Калининград_Фридландские ворота/.DS_Store

11G_Ярославль_Ярославские храмы/.DS_Store

12G_Тульская область_Ясная поляна/.DS_Store

1G_Свердловская область_Арамашевский краеведческий музей/.DS_Store

1K_Ангарск_Городской музей/.DS_Store

2G_Москва_Покровский собор/.DS_Store

2K_Кемерово_Красная горка/.DS_Store

3G_Санкт-Петербург_Детский музейный центр/.DS_Store

3K_Московская область_Мураново/.DS_Store

4G_Коломна_Коломенская пастила/.DS_Store

4K_Рыбинск_Музей-заповедник/.DS_Store

5G_Петрозаводск_Музей изобразительных искусств/.DS_Store

6G_Находка_Музейно-выставочный центр/.DS_Store

7G_Москва_Огни Москвы/.DS_Store

8G_Владивосток_Приморский государственный музей/.DS_Store
